# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Python
*.py[cod]

# WAF
.lock-wscript
.waf-*
build

# Temp files
src/gen/*.c
src/gen/*.h
src/gen/*.l
src/gen/*.y
src/test/results/

